{% extends 'core/base.html' %}
{% include 'core/nav_seller.html' %}
{% block content%}
<h1>Edit Product</h1>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="sidebar">
          <ul class="menu flex-column">
            <li class="menu-item">
              <a class="menu-link" href="{% url 'account:profile' user.id%}">Profile</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'core:product_list' %}">Products</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Orders</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Customers</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'account:switch_role'%}">Switch Role</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'core:logout' %}">Logout</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
<section style="margin: 20px 20px">
    <form method="POST" enctype="multipart/form-data" action="{% url 'product:edit_product' product.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        {% if product.image %}
        <div>
            <h3>Current Image:</h3>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
        </div>
        {% endif %}

        <div style="margin:10px auto">
            <button type="submit">Save Changes</button>
            <a href="{% url 'core:product_list' %}"><button type="submit">Cancel</button></a>
        </div>
        
    </form>

</section>



{% endblock %}