{% extends "core/base.html" %}



{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-2 px-lg-2 my-1">
                <div class="text-center text-white">
                    <h1 class="display-5 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
                </div>
            </div>
        </header>
        <div class="container">
            {% if cart_products %}
          
                {% for product in cart_products%}
               
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <center>
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <center class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      <p class="price">{{product.price}}</p>
                    
                      
                        
                 <p class="card-text"><small class="text-body-secondary">{{product.condition}}</small></p>
                 <a href="{%url 'home'%}"class="btn btn-secondary">Home</a>
                 
                    </center>
                    </div>
                  </div>
                </div>
              </div>
            </div><br/>
    

            {% endfor %}
            {% else %}
            There is nothing in your cart
            
            {% endif %}
        </div>
           
        
      
     
    {% endblock %}
